/* SIVUN YLEISET MUOTOILUT */
html{
    box-sizing: border-box;
}
/* yleinen fontti koko sivulle*/
body{
    font-family: 'Roboto', sans-serif;
    color: #4f4f4f;
    background-color: #f5f5f5;
    overflow-x: hidden;

}
/* otsikoiden koot tehtävänannon mukaiseksi */
h1 {
    font-size: 24px;
}
h2, h3, h4, h5 {
    font-size: 16px;
}
/* vitosotsikolle tarkemmat muotoilut kuten kirjainten väliin lisää tilaa ja eri fonttiväri */
h5{
    letter-spacing: 2px; 
    color: #556B2F;
    /* color: #818963; */
    margin-top: 20px;
}
/* p-elementin muotoilu */
p{
    line-height: normal;
    margin:0;
}
.container-fluid{
    padding: 0;
}
/* ------------------------------------------------------------------- */
/* TÄSTÄ ALKAA NAVBARIN JA FOOTERIN MUOTOILUT */
/* footerin taulukkoelementille muotoilu */
table{
    color: #4f4f4f; 
    border-color: #666;
}
/* navigointipalkin sisällä oleville linkeille muotoilu */
#navbar a, #hamburgerNavbar a{
    text-decoration: none;
    font-size: 14pt;
    letter-spacing: 2pt;
    color: #556B2F;
    /* color: #4f4f4f; */
    padding: 10px;
    font-weight: bold;
}
/* footerin sisällä oleville linkeille muotoilu */
#footer a{
    text-decoration: none;
    color: #4f4f4f;
    padding:10px
}
/* yleisesti linkeille hover-muotoilut */
#navbar a:hover, #footer a:hover, #hamburgerNavbar a:hover, #hamburgerButton:hover{
    text-decoration: none;
    color: #4f4f4f;
    border-radius: 4px;
    background-color: #ee8d51c2;
}
/* p-elementin muotoilu */
p{
    line-height: normal;
    margin:0;
}
.container-fluid{
    padding: 0;
}
/* navigointipalkin sijainti */
#navbarDiv{
    top: 0;
    z-index: 2;
}
 /* navigointipalkin yleismuotoilu */
#navbar {
    height: 150px;
    box-shadow: 2px 2px 10px #4f4f4f;
    background-color: whitesmoke;
}
/* kursorin muttaminen */
.navLinks{
    cursor: pointer;
}
/* Hampparivalikon container */
.hamburgerDiv{
    position: relative;
    height: fit-content;
    min-height: 40px;
    width: 100%;
    background-color: whitesmoke;
    display: none;
    z-index: 2;
}
/* hampurilaisvalikko */
#hamburgerButton{
    border: unset;
    background: unset;
    padding: 10px;
    width: fit-content;
}
#hamburgerNavbar{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* footerin containerin sijainti */
#footerContainer{
    bottom: 0;
}
/* footerin taustaväri ja leveys */
#footer{
    background-color: #d9cfc5;
    width: 100%;
}
/* ------------------------------------------------------------------ */

/* TÄSTÄ ALKAA SIVUSPESIFIT MUOTOILUT */
/* sivun kuvan containeri */
#testausHeaderImgDiv{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom: 20px;
}
/* sivun kuvan koko */
#testausHeaderImg{
    width: 100%;
    filter: grayscale(15%);
}
/* sivun tekstin containeri*/
#testausHeaderTextDiv{
    width: 70%;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-wrap: wrap;
    letter-spacing: 2pt;
}
/* sivun header-tekstin muotoilu */
#testausHeaderText{ 
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 4vw;
    font-weight: bold;
}
/* pienempi otsikkoteksti */
#testausHeaderTextSmall{
    font-size: 1.5vw;
    font-weight: bold;
}
/* pienemmän otsikkotekstin container */
#testausHeaderTextSmallDiv{
    width: 80%;
    max-width: 80%;
    text-align: center;
    text-wrap: wrap;
}
/* laatikko, johon valittu väri tulee */
.testColorBox{
    width: 100%;
    height: 300px;
}
/* pienet testiväripallurat */
.colorBall{
    width: 60px;
    height: 30px;
    padding:20px;
    box-shadow: 1px 1px 2px #4f4f4f ;
    cursor: pointer;

}
/* ------------------------------------------------------------------ */

/* pinemmällä näytöllä säädetään otsikoita vähän isommaksi ja  */
@media screen and (max-width: 996px){
    #navbarDiv{
        display: none;
    }
    .hamburgerDiv {
        display: block;
    }
    #testausHeaderText{
        font-size: 8vw;
    }
    #testausHeaderTextSmall{
        font-size: 14pt;
    }
    .testColorBoxDiv{
        width: 80%;
        justify-content: end!important;
    }
    .testColorBox{
        width: 80%;
        height: 100px;
    }
}